@font-face {
    font-family: 'Poiret One';
    src: local('Poiret One'), local('PoiretOne-Regular'), url('../fonts/poiret/poiretone.woff2') format('woff2'),
     url('../fonts/poiret/poiretone.woff') format('woff'), 
     url('../fonts/poiret/poiretone.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
